body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h4.entries {
	margin-bottom: 0.5em;
	font-size: 1.1em;
}

a {
  color: midnightblue;
  text-decoration: none;
}

ul.navigation {
	list-style-type: none;
	float: left;
	padding: 0px;
	border-left: 2px solid black;
}

ul.navigation li {
	float: left;
	border-width: 2px 2px 2px 0;
	border-style: solid;
	border-color: black;
	padding: 5px 8px;
	border-collapse: collapse;
	
}

ul.navigation li a {
	color: black;
	font-size: 1.2em;
	font-weight: bold;
}

div.clearfix {
	clear: both;
}

a.component_link {
	font-weight: bold;
	color: midnightblue;
}

table.component_list {
	border-collapse: collapse;
}

table.component_list tr td {
	border-bottom: 1px solid grey;
	padding-top: 1em;
}

table.component_list tr:last-child td {
	border-bottom: none;
}

table.keywords {
	border-collapse: collapse;
}

table.keywords td {
	padding: 0.3em 0.5em;
}

table.keywords tr:nth-child(even) {
	background-color: #b0b0b0;
}
table.keywords tr:nth-child(odd) {
	background-color: lightgrey;
}

div.download {
	float: right;
	
}

div.download a {
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid darkblue;
	padding: 1em;
	background-color: dodgerblue;
	border-radius: 0.2em;
}