extends layout

block content
	h2= title
	
	table.component_list
		each component in components
			tr
				td
					a(href="/components/"+component.name).component_link= component.name
					p=component.description

