extends layout

block content
	h2= "Topic: " + title
		
	
	h4.entries Publizierende Komponente
	if publish.length
		table.keywords
			each component in publish
				tr
					td
						a(href="/components/"+component.name).component_link= component.name
					td #{component.description}
	else
		p Keine Einträge
	
	h4.entries Abonnierende Komponente		
	if subscription.length
		table.keywords
			each component in subscription
				tr
					td
						a(href="/components/"+component.name).component_link= component.name
					td #{component.description}
	else
		p Keine Einträge
					
					

