doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1="Web Component Repository"
		ul.navigation
			li
				a(href="/")="Übersicht"
			li
				a(href="/keywords")="Keywords"
		div.clearfix
		block content
